.about_ctn {
    margin: auto;
    padding: 2rem 2rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.about_card{
    background-color: var(--oxford-blue-o1);
    font-size: 1.2rem;
    line-height: 2rem;
    padding: 1rem 2rem;
}