.features_section {

    color: white;
}

.features_ctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.feature {
    width: var(--mobile-clamp);
    display: grid;
    grid-template-rows: 0fr;
    box-shadow: 0 -10px 5px  rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.feature:hover {
    grid-template-rows: 1fr;
}

.feature > div {
    overflow: hidden;
}

.feature-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.feature-header:hover{
    cursor: pointer;
}
.feature-header:hover > i{
    animation: all 0.5s ease-in-out;
}
.feature-header:hover > .fa-magnifying-glass{
    animation: swoop 0.5s ease-in-out;
}
.feature-header:hover > .fa-hammer{
    animation: smash 0.5s ease-in-out;
}
.feature-header:hover > .fa-hand-fist{
    animation: lift 0.5s ease-in-out;
}

.accordion-wrapper {
    display: grid;
     grid-template-rows: 0fr;
     /* margin: 1rem;
     padding: 1rem; */
     transition: grid-template-rows 500ms ease-in-out;
     border-radius: 6px
     
   }
   
   .accordion-wrapper > div {
     overflow: hidden;
   }
   
   .feature-header:hover~.accordion-wrapper {
     grid-template-rows: 1fr;
   }

@media screen and (min-width: 768px) {
    .features_ctn {
        gap: 2rem;
        flex-direction: row;
        align-items: flex-start;
    }
    .features_ctn h1 {
        display: block;
    }
    .feature {
        width: 50%;
    box-shadow: none;
    }
    .accordion-wrapper {
        grid-template-rows: 1fr;
    
    }
}


@keyframes lift {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes smash {
    0% {
        transform:  rotate(0);
    }
    50% {
        transform: translateY(10px) rotate(45deg);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes swoop {
    0% {
        transform: rotate(0);
    }
    10% {
        transform: translateX(-15px) ;
    }
    40% {
        transform: translateX(-15px) rotate(90deg);
    }
    50% {
    }
    100% {
        transform: rotate(0);
    }
}