.bar {
    display: block;
    width: 22px;
    height: 2px;
    margin: 4px auto;
    transition: all 0.3s ease-in-out;
    background-color: black;
    transition: 250ms ease-in-out all;

}

.hamburger_ctn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 30px;
    height: 30px;
    z-index: 10;
    
}
.hamburger_ctn.active .bar.top{
    transform: translateY(10px) rotate(45deg);
    
}
.hamburger_ctn.active .bar.center{
    transform: scale(0);
    
}
.hamburger_ctn.active .bar.bottom{
    transform: translateY(-10px) rotate(-45deg);
}

.hamburger_content{
    display: none;
    position: absolute;
    left: 0;
    top: 68px;
    background-color:white ;
    width: 90%;
    margin: auto;
    z-index: 0;
    transform: translateY(-100%);
    transition: 250ms ease-in-out all;
}
.hamburger_content li{ 
    padding: 1em .5em;
    width: 100%;
    text-align: center;
    display: none;
    opacity: 0;
}
.hamburger_content li:active{ 
    background-color: var(--oxford-blue);
    color: white
}

.hamburger_ctn.active .hamburger_content{
    transform: translateY(0%);
    display: block;
}
.hamburger_ctn.active .hamburger_content li{
    display: block;
    animation: stagger 0.3s ease-in-out forwards;
    animation-delay: calc(var(--order) * 0.1s);
}

@keyframes stagger {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}