#grid {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
}

 .grid_row {
    display: flex;
    list-style: none;
    gap: .25rem;
    margin: 0;
    padding: 0;
}

.grid_row > .cell {
    border: 1px solid grey;
    height: 75px;
    border-radius: 5px;
    width: 75px;
    font-weight: bold;
    font-size: 1.8rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 250ms ease-in-out all;
}
            
.grid_row > .cell.existing {
    background-color: var(--primary-light);
    color: var(--primary);
}
            
.grid_row  > .cell.correct {
    background-color: var(--primary);
    color: var(--white);

}

.grid_row > .cell.checked {
    animation: scaleY 250ms ease-in-out;
    animation-delay: calc(var(--delay) * 100ms);
}

#status {
    display: flex;
    /* flex-direction: column; */
    margin: 0 auto;
    align-items: center;
}

.reset {
    transition: 250ms all cubic-bezier(.5,.67,.32,1.53);
    margin-left: 25px;
    
}

.reset:hover {
    color: var(--primary);
    cursor: pointer;
    transform: rotate(180deg)
}

#keyboard {
    display: flex;
    flex-wrap: wrap;
    gap: .25rem;
    width: 575px;
    justify-content: center;
    margin: 0 auto;
}

 .key {
    height: 50px;
    min-width: 40px;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 1px solid var(--primary);
    font-weight: bold;
    font-size: larger;
    text-transform: uppercase;
    transition: 150ms all ease-in-out;
    cursor: pointer;
    box-shadow: 1px 1px 2px var(--primary);
}

 .key.enter {
            width: 100px
        }
 .key.backslash {
            width: 100px
        }

 .key:hover{
            box-shadow: 2px 2px 2px var(--primary) inset;
        }
        
 .key:active {
            box-shadow: 3px 3px 4px var(--primary) inset;
            
        }
 .key.active {
            box-shadow: 3px 3px 4px var(--primary) inset;
        }
        
 .key.correct {
     background-color: var(--primary);
     color: white;
    }
    .key.existing {
        background-color: var(--primary-light);
        color: var(--primary);
}
    .key.incorrect {
    color: var(--primary-light);
    color: rgb(209, 209, 209);
    box-shadow: 3px 3px 4px rgb(211, 211, 211) inset;
    border: 1px solid rgb(211,211,211);
}

@keyframes scaleY {
    0% {
        transform: scaleY(0)
    }
    100% {
        transform: scaleY(1)
    }
}