@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
   
/* CSS HEX */
--oxford-blue: #011638ff;
--oxford-blue-o1: hsla(217, 96%, 11%, 0.10);
--oxford-blue-o1-opaque: #E5E7EA;
--charcoal: #364156ff;
--lemon-chiffon: #f4f0bbff;
--white: #ffffffff;
--red-cmyk: #f72c25ff;

/* CSS HSL */
--oxford-blue: hsla(217, 96%, 11%, 1);
--charcoal: hsla(219, 23%, 27%, 1);
--lemon-chiffon: hsla(56, 72%, 85%, 1);
--white: hsla(0, 0%, 100%, 1);
--red-cmyk: hsla(2, 93%, 56%, 1);

}


body, html, :root {
    height: 100%;
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#main_nav {
    display: none;
}


#mobile_nav {
    display: flex;
    align-items: center;
}

header {
    /* margin: auto; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo_placeholder {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 25px solid var(--oxford-blue);
    height: 0; 
    width: 0;
    transform: rotate(180deg);
    position: relative;
}
#logo_placeholder:after{
    content: 's';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -5%);
    color: white;
    font-size: 1.5rem;
    font-weight: 700;

}

nav {
    display: flex;
    align-items: center;
    width: 100svw;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 100;
}

nav > ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;  
}

.nav_link {
    color: var(--oxford-blue);
    text-decoration: none;
    padding: 1rem;
    transition: all 0.3s ease 0s;
}
.nav_link > a {
    color: var(--oxford-blue);
    text-decoration: none;
    padding: 1rem;
    transition: all 0.3s ease 0s;
}


.text_white {
    color: white;
}
.bg-blue {
    background-color: var(--oxford-blue);
    color: white;
}

section {
    margin: auto;
    width: 100%;
    text-align: center;
    padding: 2rem 0;
}

footer {
    display: flex;
    justify-content: space-evenly;
}


.footer_column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.footer_column > h3 {
    color: var(--oxford-blue);
}

.footer_column > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer_column li {
    padding: 0.5rem 0;
}

.footer_column a {
    color: var(--oxford-blue);
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

main {
    position: relative
}

.btn {
    background-color: var(--oxford-blue);
    padding: 1rem 2rem;
    color: white;
    font-size: larger;
    border: none;
    border-radius: 5px;
    transition: 250ms ease-in-out all;
    border: transparent 2px solid;
    margin: 1rem 2rem;
}
.btn:hover {
    background-color: white;
    border: var(--oxford-blue) 2px solid;
    color: var(--oxford-blue);
    cursor: pointer;

}

.placeholder {
    color: orange;
    margin: auto;
}



@media (min-width: 768px) {
    #main_nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
        transition: all 0.25s ease 0s;
    }
    #mobile_nav {
        display: none;
    }
}

