@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
   
/* CSS HEX */
--oxford-blue: #011638ff;
--oxford-blue-o1: hsla(217, 96%, 11%, 0.10);
--charcoal: #364156ff;
--lemon-chiffon: #f4f0bbff;
--white: #ffffffff;
--red-cmyk: #f72c25ff;

/* CSS HSL */
--oxford-blue: hsla(217, 96%, 11%, 1);
--charcoal: hsla(219, 23%, 27%, 1);
--lemon-chiffon: hsla(56, 72%, 85%, 1);
--white: hsla(0, 0%, 100%, 1);
--red-cmyk: hsla(2, 93%, 56%, 1);

}

* {
    /* outline: 1px solid red; */
}

html {
}

body {
    background-color: var(--white);
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--oxford-blue)
}


#main_nav {
    display: none;
}


#mobile_nav {
    display: flex;
    align-items: center;
}

header {
    /* margin: auto; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo_placeholder {
    border: none;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    background-color: var(--oxford-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

nav {
    display: flex;
    align-items: center;
    width: 100svw;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    padding: 1rem 2rem;
}

nav > ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;  
}

.nav_link {
    color: var(--oxford-blue);
    text-decoration: none;
    padding: 1rem;
    transition: all 0.3s ease 0s;
}
.nav_link > a {
    color: var(--oxford-blue);
    text-decoration: none;
    padding: 1rem;
    transition: all 0.3s ease 0s;
}
section {
    overflow-x: hidden;
}
.bg-blue {
    background-color: var(--oxford-blue);
    color: white;
}



@media (min-width: 768px) {
    #main_nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
        transition: all 0.25s ease 0s;
    }
    #mobile_nav {
        display: none;
    }
}

