@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
   

/* CSS HSL */
--primary: #053b8d;
--primary-light: rgb(231, 235, 255);
--secondary: rgb(240, 240, 240);
--charcoal: hsla(219, 23%, 27%, 1);
--lemon-chiffon: hsla(56, 72%, 85%, 1);
--white: hsla(0, 0%, 100%, 1);
--red-cmyk: hsla(2, 93%, 56%, 1);

/* Sizes */
--mobile-clamp: clamp(200px, 75%, 500px);

}

*{
    /* outline: 1px solid red; */
}

body, html, :root {
    height: 100%;
    box-sizing: border-box;
}

body {
    /* background-color: var(--white); */
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    z-index: 1;
    position: relative;
    flex-shrink: 1;
}

a {
    text-decoration: none;
    color: inherit;
}

#desktop_nav {
    display: none;
}


#mobile_nav {
    display: flex;
    align-items: center;
}

header {
    /* margin: auto; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo_placeholder {
    height: 50px;
    width: 50px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../pictures/favicon.svg');
}
#logo_placeholder:after{
    content: 's';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -5%);
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}

nav {
    display: flex;
    align-items: center;
    width: 100svw;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    height: 75px;
    z-index: 100;
    padding: 0 2rem;
    background-image: url('../pictures/favicon.svg');
}



nav > ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;  
}

.nav_link {
    color: var(--primary);
    text-decoration: none;
    padding: 1rem;
    border: 1px solid #0000;
    border-radius: 24px;

}
.nav_link > a {
    color: var(--primary);
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.text_white {
    color: white;
}
.bg-blue {
    background-color: var(--primary);
    color: white;
}

.bg-gradient {
    background: linear-gradient(to top right,rgb(6, 7, 32), rgba(5, 59, 141, 1), rgba(59, 33, 156, 0.7));
    background-size: cover;
    background-blend-mode: overlay;
}

.banner {
    min-height: 10svh;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    margin: auto;
    width: 100%;
    text-align: center;
    padding: 2rem 0;
}

footer {
    display: flex;
    justify-content: space-evenly;
    color: var(--primary);
}


.footer_column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.footer_column > h3 {
    /* color: var(--primary); */
}

.footer_column > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer_column li {
    padding: 0.5rem 0;
}

.footer_column a {
    /* color: var(--primary); */
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

main {
    position: relative;
    min-height: 75svh;
    color: var(--primary)

}


.btn {
    background-color: var(--primary);
    color: white;
    padding: 1rem 2rem;
    font-size: larger;
    border: none;
    border-radius: 5px;
    transition: 250ms ease-in-out all;
    border: transparent 2px solid;
    margin: 1rem 2rem;
}

.btn.cta {
    position: relative;
    z-index: 10;
    color: white;
}

.btn.light {
    background-color: white;
    color: var(--primary);
    transition: 250ms ease-in-out all;
}

.btn.light:hover {
    background-color: sandybrown;
}

.btn:hover {
    background-color: white;
    border: var(--primary) 2px solid;
    color: var(--primary);
    cursor: pointer;

}

.placeholder {
    color: orange;
    margin: auto;
}


.testimonials_ctn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

.testimonial {
    width: var(--mobile-clamp);
}

.testimonial img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 5px solid var(--secondary-o1);

}



@media (min-width: 768px) {

    nav {
        padding: 0 0 0 2rem;
    }

    #desktop_nav > li  {
        display: inline;
        padding: .2rem;
        z-index: 100;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    #desktop_nav a {
        transition: all 250ms ease-in-out;
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #desktop_nav a:hover {
        color: white;
    }

    #desktop_nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
        width: 50%;
        transition: all 0.25s ease 0s;
        position: relative;
        margin: 0;
        padding: 0;
    }

    #follower {
        background-color: var(--primary);
        position: absolute;
        width: 25%;
        height: 100%;
        left: 0;
        transition: 500ms all ease-in-out;
        z-index: 0;
        margin: 0;
      }
    #mobile_nav {
        display: none;
    }

    
}

