* {
    /* outline: 1px solid red */
}

.today_ctn {
    margin: auto;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    max-width: 750px;
    height: 100%;
    align-items: center;
}

.form_ctn {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;

}


#cards_ctn {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
}

.form-card {
    padding: 20px;
    margin: 20px;
    width: 100%;
    min-height: 250px;
    border-radius: 10px;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    position: relative;
    z-index: 100;
    /* background-color: var(--primary); */
}

.form-card > input {
    padding: 1rem;
    border: 1px solid lightgrey;
    border-radius: 6px;   
    text-align: center;
}
.form-card > label:hover {
    color: orange;
}
.form-card > textarea {
    padding: 1rem;
    border: 1px solid lightgrey;
    border-radius: 6px;   
}

.form-card.transition {
    animation: slideOut 0.5s forwards ease-in-out;
}

.card-overlay {
    content: '';
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.116);
    z-index: -99;
}

.form-card.transition > .card-overlay {
    animation: fadeOut 0.5s forwards ease-in-out;
}

#entries-ctn {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.entry-record{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--primary);
    color: white;
    border-radius: 16px;;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

@keyframes slideOut {
    0% {
        transform: translate(0%, 2%);
        opacity: 1;
    }
    25% {
        transform: translate(-25%, 0%);
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        transform: translate(-100%, 0%);
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}