#grid {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;

    .grid_row {
        display: flex;
        list-style: none;
        gap: .25rem;
        margin: 0;
        padding: 0;

        .cell {
            border: 1px solid grey;
            height: 50px;
            width: 50px;
            font-weight: bold;
            font-size: larger;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;

            &.existing {
                background-color: var(--primary-light);
                color: var(--primary);
            }
            
            &.correct {
                background-color: var(--primary);
                color: var(--white);

            }
        }
    }
}