#grid {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;

    .grid_row {
        display: flex;
        list-style: none;
        gap: .25rem;
        margin: 0;
        padding: 0;

        .cell {
            border: 1px solid grey;
            height: 50px;
            width: 50px;
            font-weight: bold;
            font-size: larger;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;

            &.existing {
                background-color: var(--primary-light);
                color: var(--primary);
            }
            
            &.correct {
                background-color: var(--primary);
                color: var(--white);

            }
        }
    }
}

#keyboard {
    display: flex;
    flex-wrap: wrap;
    gap: .25rem;
    width: 575px;
    justify-content: center;
    margin: 0 auto;

    .key {
        height: 50px;
        min-width: 40px;
        padding: 0 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        border: 1px solid var(--primary);
        font-weight: bold;
        font-size: larger;
        text-transform: uppercase;
        transition: 150ms all ease-in-out;
        cursor: pointer;

        &.enter {
            width: 100px
        }
        &.backslash {
            width: 100px
        }

        &:hover{
            box-shadow: 2px 2px 2px var(--primary) inset;
        }
        
        &:active {
            box-shadow: 3px 3px 4px var(--primary) inset;

        }
    }
}